.container {
    margin: 20px;
    text-align: center;
}

input {outline:none;}

.itemName {
     padding: 10px;
     border: 1px solid #000000;
     margin: 0 10px 30px 0;
     border-radius: 5px;
 }

.cost {
    padding: 10px;
    border: 1px solid #000000;
    margin: 0 10px 30px 0;
    border-radius: 5px;
}

button {outline:none;}

.added {
    padding: 10px;
    border: 1px solid darkgreen;
    color: #fff;
    background: green;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.added:hover {
    background: darkgreen;
}



